main.c.o
.deps/main.c.P
main.c.o
display.c.o
outfile.elf
outfile.hex
.deps/display.c.P
.deps/main.c.P
outfile.elf
outfile.hex
outfile.elf
main.c.o
outfile.hex
stubs.c.o
spi.c.o
.deps\main.c.P
.deps\spi.c.P
assets.c.o
.deps/assets.c.P
.deps/spi.c.P
.deps/main.c.P
control.c.o
.deps/control.c.P
.deps/main.c.P
vectors.S.o
.deps/stubs.c.P
.deps/vectors.S.P
.vscode/ipch/fe39d5747ed111c1/MAIN.ipch
.vscode/ipch/fe39d5747ed111c1/mmap_address.bin
.vscode/ipch/40f397a744509770/mmap_address.bin
.vscode/ipch/37b82f010a753e81/mmap_address.bin
.vscode/ipch/40f397a744509770/DISPLAY.ipch
.vscode/ipch/37b82f010a753e81/ASSETS.ipch
.vscode/ipch/f6b9863d2e04f0fe/mmap_address.bin
.vscode/ipch/f420b48dcea83909/mmap_address.bin
.vscode/ipch/f420b48dcea83909/TFT_GFX.ipch
.vscode/ipch/ec6245e3da734617/mmap_address.bin
.vscode/ipch/bd484dcbcce80b30/mmap_address.bin
.vscode/ipch/76fb29d1b60b4d9/mmap_address.bin
