main.c.o
.deps/main.c.P
main.c.o
display.c.o
outfile.elf
outfile.hex
.deps/display.c.P
.deps/main.c.P
outfile.elf
outfile.hex
outfile.elf
main.c.o
outfile.hex
stubs.c.o
spi.c.o
.deps\main.c.P
.deps\spi.c.P
assets.c.o
.deps/assets.c.P
.deps/spi.c.P
.deps/main.c.P
control.c.o
.deps/control.c.P
.deps/main.c.P
vectors.S.o
.deps/stubs.c.P
.deps/vectors.S.P
